<app-header (contextmenu)="__elementSelectionService.select('1292328629',$event)" [ngStyle]="__elementSelectionService.getStyles('1292328629')"(click)='__elementSelectionService.clear()'></app-header>
<div class="container" (contextmenu)="__elementSelectionService.select('848470053',$event)" [ngStyle]="__elementSelectionService.getStyles('848470053')"(click)='__elementSelectionService.clear()'>
	<div class="row" (contextmenu)="__elementSelectionService.select('962456451',$event)" [ngStyle]="__elementSelectionService.getStyles('962456451')">
		<div class="col-md-12" (contextmenu)="__elementSelectionService.select('1215749476',$event)" [ngStyle]="__elementSelectionService.getStyles('1215749476')">
			<h2 (contextmenu)="__elementSelectionService.select('1875038151',$event)" [ngStyle]="__elementSelectionService.getStyles('1875038151')">I'm working!</h2>
		</div>
	</div>
</div>